body {
    margin-top: 10px;
    background-color: white;
}

h1 {
    color: black;
}

.lead {
    color: black;
}

#topnav {
    margin-bottom: 25px;
    font-family: Helvetica;
}

#topnav a {
    vertical-align: middle;
    padding: 7.5px;
    text-decoration: none;
    color: black;
}

.img-circle {
    margin-top: 35px;
    margin-bottom: 10px;
}

.card-block {
    text-align: left;
    color: black;
    font-size: 16px;
}

.card-header a {
    font-size: 18px;
    text-align: left;
    text-decoration: none;
    color: black;
}

.accordian {
    text-align: center;
}

.accordian a {
    text-decoration: none;
}

#linksicon {
    text-align: center;
}

.col-md-6 {
    margin-bottom: 10%;
}

.col-md-6 i {
    margin-bottom: 5%;
    color: black;
}

.container-fluid .text-left {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3.5%;
    font-size: 16px;
    color: black;
}

.container-fluid .text-center {
    padding: 1%;
    font-size: 24px;
    color: black
}

.container-fluid p a {
    text-decoration: none;
}

.row {
    margin-left: 10%;
    margin-right: 10%;
}

.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    overflow: hidden;
}

.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: #000000;
    height: 2px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
}

@-webkit-keyframes hvr-pop {
    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}

@keyframes hvr-pop {
    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}

.hvr-pop {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
}

.hvr-pop:hover,
.hvr-pop:focus,
.hvr-pop:active {
    -webkit-animation-name: hvr-pop;
    animation-name: hvr-pop;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

.fa {
    color: black;
}
